[2020-03-16 12:03] Olyno opened #5 "[suggestion] - Promise support"
Hi,
I really appreciate the work you did. Maybe a Promise support could be good for a more flexible code?

Thanks for your work, Olyno.

[2020-03-16 12:06] Olyno commented on #5
I didn't see that async function returned a Promise, just stupid issue, sorry about that.

[2020-03-16 12:06] #5 closed

[2020-03-16 12:13] thecodrr commented on #5
No problem :laughing:

[2020-03-16 18:40] borestad opened #6 "Cli version"
Hi. It's "apanzzon" from Reddit ;-)

A fdir-cli version would be interesting.

Due to corona chaos, I currently have very little spare time.

Would avoid using a framework, to avoid dependencies, or split it up to a secondary repo

[2020-03-16 18:53] thecodrr commented on #6
Hey, that's an amazing idea. Would be an awesome experiment. What features do you think it should have?

[2020-03-16 19:19] borestad commented on #6
I think it should be as simple as possible and only pass the *exact* same options as the library. Most importantly, being able to pipe from either stdin or stdout.

As for implementation - there's probably 2 options:

1. Keep the bin within this repository. Create a very simple wrapper, with some custom parsing.

2. Use some cli-helper like https://github.com/sindresorhus/meow  - although the larg

[2020-03-16 19:29] thecodrr commented on #6
I was thinking the same thing. There are about 5 options in the library. We can have a flag for each.

The app would print a plain output to stdout and be able to take in input from stdin (of course).

I think we shouldn't pollute the actual library. I will make a separate repo for the cli. I want to keep it zero dependency though so might have to do some basic parsing by hand. Shouldn't be too ha

[2020-03-19 21:08] Leland-Kwong opened #7 "Adjust readme a bit"
I have a pretty thick skin, and I like that you're pushing the envelope with performance here. You seem like a really smart guy, but the usage of the words *shit* come off a bit crass. Just my opinion, take it or leave it 😄.

[2020-03-20 00:41] thecodrr commented on #7
Hahaha. Well, it is supposed to be a bit casual/informal. I have read readmes that read like an essay. Too boring. Besides, relatively s**t is the least offensive word in the bad words dictionary. No offense intended of course to anyone. Thanks for taking the interest. Really appreciate it.

[2020-03-20 00:49] #7 closed

[2020-03-21 04:40] OmgImAlexis opened #8 "Permission errors don't seem to be handled."
Permission errors don't seem to be handled.

[code]

[code]

Changing the affected line to this.
[code]

I get the following.
[code]

[2020-03-21 05:32] thecodrr commented on #8
I am on it. Thanks for reporting.

[2020-03-21 06:51] OmgImAlexis opened #10 "Any slashes should be stripped off of the end before walking."
Notice the double slash in the filename.

[code]

[2020-03-21 09:25] OmgImAlexis commented on #8
With that fix what happens if only one sub directory has a permission error but all others are fine?

[2020-03-21 09:42] #10 closed

[2020-03-21 09:46] thecodrr commented on #8
It will reject, bailing out of the function. Should it simply skip over that directory? How will errors be handled then? We have two options:

1. We save all errors in an array and at the end we `reject` the promise with those errors **and** the results.
2. We resolve the promise but send errors with result too.

[2020-03-21 12:50] #8 closed

[2020-03-30 14:00] juanibiapina opened #11 "Saying *Nothing beats fdir* might be a little off"
https://github.com/jessegrosjean/jwalk/blob/master/benches/benchmarks.md

[2020-03-30 14:08] thecodrr commented on #11
Sorry I think you misunderstood (not your fault). What I mean was basically this: "Nothing in the Node.js environment beats fdir in speed." not that Nothing in the whole world can beat it. I know of course native implementations like rust, C or C++ can easily overcome `fdir` in speed. I will clarify it in the README. Thanks for pointing it out.

By the way, how many files in the linux source tree?

[2020-03-30 14:14] #11 closed

[2020-04-02 14:38] borestad opened #12 "async/sync maxDepth broken"
[code]

In a rather large folder structure, the async & sync method with maxDepth doesn't work properly:

[code]

Without the maxDepth option, fdir properly scans through and finds `204516` files

OSX Catalina / APFS

[2020-04-02 15:39] thecodrr commented on #12
Hey, nice catch. The `maxDepth` logic was incorrect. Fixed it now. Will be publishing a new version soon. Thanks

[2020-04-02 19:31] thecodrr opened #13 "Builder API (Open for Discussion)"
Something like this:

[code]

[2020-04-07 17:26] selfrefactor opened #14 "Typescript definitions seems a bit wrong"
Thank you for this fast and useful library.

I have a problem, as VSCode is not happy that you declare that you will return `String[]` from `fdir.async` method. If it is `string[]` then the issue is no longer there.

[2020-04-08 06:27] thecodrr commented on #14
Fixed in https://github.com/thecodrr/fdir/commit/0ec9e5515e456c516405f337225c1cad706b7e27

[2020-04-08 06:27] #14 closed

[2020-04-27 05:44] OmgImAlexis opened #17 "Publish new version"
@thecodrr any chance of the latest commit being pushed as a new version on npm?

[2020-04-27 07:26] thecodrr commented on #17
Yes, of course.

[2020-04-27 07:30] thecodrr commented on #17
Done.

[2020-04-27 07:30] #17 closed

[2020-05-10 18:18] thecodrr commented on #12
Fixed in v3.0

[2020-05-10 18:18] #12 closed

[2020-05-10 18:19] thecodrr commented on #13
Done.

[2020-05-10 18:19] #13 closed

[2020-05-12 17:45] thecodrr opened #21 "Filtering performance improvements"
Currently, fdir is the fastest directory crawler in the Node.js world even with filtering/globbing. However, the filtering performance is not up to par with non-filtering performance i.e., the gap is too big.

Current:

[code]

Okay, filter performance is ~2-10% slower while glob performance is ~10-20% slower. That is _quite_ slow relatively.

So the question is: How do we reduce this performance

[2020-05-12 17:53] thecodrr commented on #21
Here are the benchmark results with all filtering done after the crawling:

[code]
Not a huge difference. Filtering is 2x slower if we do it after while we gain about ~3% if we do globbing after. Hm...

[2020-05-12 17:54] thecodrr opened #22 "Benchmarks again globbing libraries"
fdir is without a doubt the fastest globbing library as well (I benchmarked) but evidence needs to be published before it can be advertised.

[2020-05-12 17:56] thecodrr opened #23 "Globbing doesn't make sense"
Currently the API allows a `.glob(...patterns)` method in the Builder alongside the `crawl` one. All the globbing libraries (fast-glob & glob) that I have used do not allow the user to specify the source directory.

Maybe `glob` and `crawl` should be at an equal API level.

[2020-05-12 18:15] thecodrr commented on #21
It would be cool to add `picomatch` caching at a global level so a single `picomatch` instance will be used across multiple fdir instances provided they have the exact same patterns. This would be a huge performance boost.

[2020-05-13 01:33] Flupster opened #24 "picomatch not found on base install"
I know you're actively developing this however the documentation on the readme doesn't work out of the box

it requires new fdir() not fdir.new()

also I noticed you went through and tried to add an error if they use glob, however these checks don't work and tries to load picomatch regardless which means on a simple `npm i fdir` and running `const fdir = require("fdir").default;` results in `Error

[2020-05-13 09:13] thecodrr commented on #24
@Flupster Fixed both the issues.

What do you mean by `case insensitivity`?

[2020-05-13 11:29] #22 closed

[2020-05-13 17:38] #24 closed

[2020-05-15 06:09] Mr-jiangzhiguo opened #25 "how about fdir vs globby ？"
<https://github.com/sindresorhus/globby>

[2020-05-15 06:47] Whoaa512 commented on #25
`globby` is just a convenience wrapper around [`fast-glob`](https://github.com/mrmlnc/fast-glob) which is in the benchmarks

[2020-05-15 08:57] thecodrr commented on #25
Yes, globby is based on fast-glob so it doesn't make much sense to benchmark against it. If you have any other globbing library in mind, I would love to include it.

[2020-05-15 08:57] #25 closed

[2020-05-15 17:29] #21 closed

[2020-05-17 07:41] Razzeee opened #29 "Typescript def seems to miss exports"
As `sync` now returns `Output`, we need a way to tell the compiler which output it is.
One thing we could do is just cast `x = x as PathsOutput;` but that needs the types combined to create `Output` to be exported in the `.d.ts` file.

[2020-05-17 09:27] thecodrr commented on #29
Yes, we can export the Output types.

I am not a TS Ninja but there might be some better way to automatically resolve this based on what flags are on. Open to any suggestions.

[2020-05-17 09:32] #29 closed

[2020-05-17 18:45] Razzeee opened #30 "Fdir failing to pickup deep paths?"
I'm having trouble getting fdir to work like globby does, as I'm trying to replace it. In fact it seems to fail pretty randomly.

[code]

[code]
I also tried `const x = new fdir().glob(`${globUri}/**/*.elm`).withFullPaths().crawl(".").sync();` which seemed to also not find the same things.

I tried to extend the depths, but that did also not help.

[2020-05-18 00:35] thecodrr commented on #30
That latest commit should fix this. The issue was in picomatch ignoring dotfiles by default and as you were matching in a hidden directory `.elm`, it always returned false (and therefore an empty array).

[2020-05-18 00:35] #30 closed

[2020-05-18 22:25] Razzeee opened #31 "Exclude function needs better docs or changes"
https://github.com/thecodrr/fdir/blob/master/documentation.md#excludefunction

Seems to suggest, that you only match on the deepest folder, but it doesn't it seems to hand you the complete path to match on. It also seems to change depending on other parameters.

[code]

this will lead to `dir` in the `exclude` function being something like `./path/.git/file`

[code]
this will lead to `dir` in the

[2020-05-19 09:40] thecodrr commented on #31
Good idea! I will make it more clear in the docs.

Also in this example:
[code]
`dir` would be something like `file` or `node_modules` unless you add `withBasePath`.

[2020-05-19 11:11] Razzeee commented on #31
Are you sure? I actually debugged into it and saw those example paths. It's not `node_modules` or `file` it's always the complete path as in `./node_modules/fdir/api/file` as far as I can see.

I think changing the api would be better, most usecases probably just want to match the next folder we're traversing into, not the complete path. If that's possible at all.

[2020-05-19 13:12] thecodrr commented on #31
Yeah, I was thinking the same. I will make the changes.

[2020-05-19 20:05] #31 closed

[2020-06-01 05:15] JohnFitz commented on #6
Looks like somebody beat you to it with your own library :smile: [glob-searcher](https://github.com/Olyno/glob-searcher). "Great minds think alike" I guess.

[2020-06-01 16:53] thecodrr commented on #6
@JohnFitz 🤣🤣 yes that is true. But it's a little bit different.

I will be publishing the CLI version very soon. It's barebones but does everything you'd want it to; dumping the file paths to stdin.

[2020-06-01 17:10] JohnFitz commented on #6
Superb! Can't wait to see it.

On Mon 1 Jun 2020, 17:53 Abdullah Atta, <notifications@github.com> wrote:

[2020-06-01 21:39] Razzeee opened #32 "Next release?"
Hey there,

do you have any plan for when you would like to do the next release?

Cheers

[2020-06-02 23:13] thecodrr commented on #32
Done.

[2020-06-02 23:13] #32 closed

[2020-06-02 23:13] #23 closed

[2020-07-02 13:23] pl4yradam opened #33 "Typescript support"
Will this package ever have typescript support?

[code]

[2020-07-02 14:42] thecodrr commented on #33
I haven't tried converting this to TypeScript as there's no reason to because there's already the `index.d.ts` file for type definitions and I don't have in mind to use any feature from TypeScript. Furthermore, I think that writing this in TypeScript might bring the performance down. Haven't tried it so can't be sure.

You are welcome to give it a try and if the performance remains the same or get

[2020-07-02 14:45] pl4yradam commented on #33
I understand. I will scrap the warnings that i get. It would be good if you
can test the typescript equivilant. However because its compiled as
commonjs it wont be seen as es standard.

On Thu, 2 Jul 2020, 15:43 Abdullah Atta, <notifications@github.com> wrote:

[2020-07-02 21:46] thecodrr commented on #33
It seems to me to be a lot of work for little benefit. At the end of the day, the code that is going to run on the Engine is still Javascript. I have carefully hand optimized each part of the code for maximum performance.

If I have extra time, I will surely look into it but no promises.

[2020-07-07 08:30] mark134340 opened #34 "How to search for a folder by its name and return the folder path？"
How to search for a folder by its name and return the folder path instead of returning all the parent directories？
[code]

[2020-07-07 16:19] kwaping opened #35 "Feature request: Multiple filters joined via AND"
I would like to use a chain of multiple `.filter()` operations, but have them successively refine the results. For example, I would like to find files where:

1. extension is `.html`
1. the path contains `/src/`
1. the path contains `/trunk/`
1. the filename does not contain `test`

I would like to implement that via this code:
[code]
The current implementation of multi-filters treats this like an

[2020-07-08 03:43] thecodrr commented on #35
Okay, I knew this would occur sooner or later.

We have two options here:
1. We change the API to treat multi-filters as AND conditional (not as OR).
2. We add a second parameter to the `.filter` method that defines whether it is AND or OR.

Which one makes the most sense? Should filters be, by default, AND conditioned?

[2020-07-08 03:52] kwaping commented on #35
I am not excited about breaking the existing API, but I think it's the right thing to do. The reason is that chained `.filter` calls in vanilla Javascript act in a cascading AND manner. You take the list, filter it, return the new list - then take that new list, filter it, return it - etc.

Besides this being what I would consider the expected behavior, there's also a lot less that can go wrong wi

[2020-07-08 03:59] thecodrr commented on #34
Single folder search is not possible yet. I am working on adding it though. Perhaps in the next version?

[2020-07-08 04:10] thecodrr commented on #35
Yes but the filter of `fdir` works a little bit differently; it collects all the filters and then applies them all via `filters.some`. Since, there's no cascading, does it still make sense?

This line handles most of it:
`if (filters.some((f) => f(filename))) files.push(filename);`

To change it, all that has to be done is to swap `.some` with `.every`, I suppose.

In effect, this is just a conven

[2020-07-09 01:56] papb commented on #33
I am not sure what is the issue here, the fact that `index.d.ts` already exists should be enough for most purposes... @pl4yradam can you be more clear on what is the issue you are facing?

[2020-07-10 06:01] thecodrr commented on #33
Closing this as it seems unnecessary for now. If anyone thinks TypeScript can improve `fdir` in some way, feel free to comment below and I will reopen the issue.

[2020-07-10 06:01] #33 closed

[2020-07-24 20:46] itesainnovation opened #37 "fdir is not a constructor"
Hi there!

I'm getting this error while trying to create a new builder. Any ideas what's going on?

Thanks

[2020-07-24 22:36] thecodrr commented on #37
Can you please show your code?

[2020-07-26 09:57] martinvanwieringen commented on #37
I am getting the same error:

Your sample code:
const fdir = require("fdir").default;

// create the builder
const api = new fdir().withFullPaths().crawl("path/to/dir");

// get all files in a directory synchronously
const files = api.sync();

// or asynchronously
api.withPromise().then((files) => {
  // do something with the result here.
  console.log();
});

[2020-07-26 12:42] thecodrr commented on #37
@martinvanwieringen

I think there was no need for `require("fdir").default`. Try with: `const fdir = require("fdir")`.

[2020-07-26 13:48] itesainnovation commented on #37
Exactly, it's fixed by not requiring default

[2020-07-27 06:48] chalkygames123 commented on #37
The type definition also seems to have the inconsistency.

<img width="705" alt="スクリーンショット 2020-07-27 15 42 34" src="https://user-images.githubusercontent.com/5608239/88511879-8f4de880-d020-11ea-9208-324771014117.png">

<img width="704" alt="スクリーンショット 2020-07-27 15 43 11" src="https://user-images.githubusercontent.com/5608239/88511888-92e16f80-d020-11ea-9031-65e5e8c13e3e.png">

[2020-07-27 09:39] thecodrr commented on #37
@chalkygames123 fixing it right away

[2020-07-27 14:53] pl4yradam commented on #37
`import fdir from 'fdir';`

`const crawler: any = new fdir()
            .withBasePath()
            .filter((fPath) => fPath.endsWith('.exe'));

 const exes = [...crawler.crawl(folders[i].location).sync()];`

Same issue

[2020-07-27 18:13] thecodrr commented on #37
Apparently, `export default` doesn't work nicely with `require` so I had to migrate to using named imports. I have updated the documentation and README accordingly, please refer to that.

[2020-07-27 18:13] #37 closed

[2020-08-03 20:00] StoneCypher opened #38 "What I need to switch"
Hi.  I'm an active user of `glob` and 92% faster seems neat.

In order to switch, I need to know that my existing patterns will be maintained.  Will you please create a near-top `readme` section telling me how the two libraries' pattern outlay lines up?

Some of the fuss between `glob` and other competitors was when `glob` chose to remove features to come into line with other standards.  I'd like

[2020-08-03 20:49] thecodrr commented on #38
fdir internally depends on `picomatch` for glob pattern matching. Glob uses `minimatch`. There is an extensive [comparison between the two on `picomatch` readme.](https://github.com/micromatch/picomatch#library-comparisons)

I have intentions to make it pluggable so you can choose which library you want to use but that is still just an idea.

[2020-08-03 20:49] thecodrr commented on #38
fdir internally depends on `picomatch` for glob pattern matching. Glob uses `minimatch`. There is an extensive [comparison between the two on `picomatch` readme.](https://github.com/micromatch/picomatch#library-comparisons)

I have intentions to make it pluggable so you can choose which library you want to use but that is still just an idea.

[2020-08-03 20:53] thecodrr commented on #38
I will also add a Migration guide for people looking to migrate. Any help regarding that is welcome.

[2020-08-15 03:14] papb opened #40 "Stream API / Async Iterator API"
The documentation says that

Is it already a work in progress? I would really like to see this.

Also, I want to suggest providing an Async Iterator API instead of a stream API. The reason is that an Async Iterator can be easily converted into a readable stream using [into-stream](https://github.com/sindresorhus/into-stream/) without loss of performance (`into-stream` automatically handles backpre

[2020-08-18 03:40] thecodrr commented on #40
Hey!

Thank you for the suggestion. Yes, that is the plan; to implement Async Iterator API. It will require a bit of redesign I think but I will have a version up and ready soon.

[2020-08-18 12:14] papb commented on #40
@thecodrr Awesome! If you need some help let me know (although I am not sure I will have time to help :sweat_smile:)

[2020-10-30 13:38] papb opened #42 "Revert c516fcf"
Hello! This issue is just to easily track what we discussed in a comment:

https://github.com/thecodrr/fdir/commit/c516fcfaa7c96dc2edbf1310980280f96ad58291#commitcomment-42755352

[2020-11-07 20:16] bbugh opened #43 "Getting only directories"
Hi! 👋 I'm shopping around for a fast npm globber to use in a visual studio code extension. The other npm libraries are still too slow for our very large project.

This extension needs only directories, not files. I see the `withDirs` function, but capturing files seems deep in the shared code:

https://github.com/thecodrr/fdir/blob/master/src/api/shared.js#L43-L44

How hard would it be to make an

[2020-11-08 08:06] thecodrr commented on #43
Hey, thank you for considering `fdir`.

Adding `onlyDirs` shouldn't be too hard. Just a flag that we'll need to check. It should be slightly faster as well since `array.push` is called not as frequently.

I will look into it, it seems like a good feature.

[2020-12-07 14:03] papb commented on #42
@thecodrr Friendly bump :)

[2020-12-15 00:09] papb opened #46 "Feature request: pass full path to `exclude` function"
Currently, the `excludeFn` function I pass to `crawler.exclude(excludeFn)` receives only the *basename* of the directory as a parameter. I would like to decide to exclude or not based on the full path. I propose passing also `path` as a second parameter to it, so it is not a breaking change.

[2020-12-15 00:13] papb opened #47 "Calling async fdir concurrently with different options behaves incorrectly"
The `shared.js` file contains some [*"dummy variables"*](https://github.com/thecodrr/fdir/blob/cafca1e745aecc0a0c4123f3a5b150b260f6fa92/src/api/shared.js#L107-L114) that are later filled according to the options; however, if I make two (or more) calls concurrently, the second call may overwrite those variables while the first call did not finish yet, and then we get garbage results for the first c

[2020-12-19 17:36] pascalgn opened #48 "Node exits when an error occurs using withPromise"
See this example file:

[code]

(save as `index.js`, for example, and run `node ./index.js`)

### What is happening?

The Node.js process just exits (exit code 0) and no error is shown. The message "this will never be written" is also not shown.

### What is expected to happen?

As the docs say that all errors are suppressed, I would expect `files` to be an empty array and program flow to continue

[2020-12-19 20:25] #42 closed

[2020-12-19 20:25] #46 closed

[2020-12-19 20:25] #47 closed

[2020-12-19 20:48] #48 closed

[2020-12-19 21:10] #43 closed

[2020-12-19 21:14] #35 closed

[2020-12-19 21:57] thecodrr commented on #34
This should now be possible as:

[code]

[2020-12-19 21:57] #34 closed

[2020-12-23 15:36] ewochtl opened #49 "Fdir can't get content of subfolders"
System: Windows Server 2019 Version 1809 (Build 17763.737)
Node.js Version: 12.18.2
fdir Version: 3.4.3

In my project, I have a OneDrive sync, mapped  as Network drive.
When i run fdir on this, I only get the files in the root directory of the Network Drive.
But, when i map another folder as network drive, with the same code,
fdir outputs all dirs and files, as it should.

My Code:

[code]

Scree

[2021-01-10 18:44] pascalgn commented on #48
@thecodrr thanks for fixing this so quickly! Would it also be possible to have a release for this sometime soon? 🙏

[2021-01-12 10:01] thecodrr commented on #48
@pascalgn yes, will publish a release in a few hours.

[2021-01-12 17:48] thecodrr commented on #49
Hey! Thank you for creating an issue here.

First of all, you are using both `crawlWithOptions` and the Builder pattern; they don't work well together. `crawlWithOptions` overrides the other options. So the correct usage would be:

[code]

Try the above code, perhaps it will fix your bug. I have no Windows PC where I could reproduce this bug however, I will try to be as helpful as possible if you

[2021-01-13 07:44] ewochtl commented on #49
Hi,
thanks for your responding.
Unfortunately your Code didn't change the result.
It's still the same output.
Can you send me instructions, how i can debug the module
or how i can enable advanced logging.
Regards

[2021-01-13 11:59] papb commented on #49
Have you tried with fdir v5?

[2021-01-13 12:42] ewochtl commented on #49
@papb Thanks for your help
Still no changes with fdir 5.0
But I've tested a snippet for directory listing from Stack Overflow:
https://stackoverflow.com/a/5827895/14878833
When I run this, it works fine.

[2021-01-15 11:08] thecodrr commented on #49
@ewochtl if you have `nvm` try out fdir on Node v8.x.

[2021-01-20 08:28] ewochtl commented on #49
Hi @thecodrr !
Now, with node 8.17.0 it works!
Thank you for your help!

[2021-01-20 08:28] #49 closed

[2021-01-20 12:31] papb commented on #49
Wait, so it works on Node 8 but does not work on Node 12?

[2021-01-21 15:52] ewochtl commented on #49
Yes @papb

[2021-02-06 07:50] ozum opened #51 "Feature Request: cwd option"
Hi,

Assuming current cwd is `/Users/user/Development/project`, `crawl("src/target")` returns:

`withFullPaths()`: `/Users/user/Development/project/src/target/a/b/c`,
`withBasePath()`: `src/target/a/b/c`,

It would be very nice to have one of the following:

- `withRelativePath()`: `a/b/c`
- `withRelativePath("src")`: `target/a/b/c`.

Thanks,

[2021-03-31 16:23] aaronjensen opened #53 "Symlinks are ignored"
Ideally, symlinks would be followable or this would be an option. At the moment, they are completely ignored:

https://github.com/thecodrr/fdir/blob/master/src/api/shared.js#L48-L54

This appears to be causing this downstream issue in snowpack: https://github.com/snowpackjs/snowpack/issues/2969

[2021-03-31 17:02] thecodrr commented on #53
I am working on symlink support however it will affect performance greatly. It will be out and about soon though as an option `withSymlinks` probably.

[2021-03-31 20:58] DominikLevitsky commented on #53
Just found this lib and I'm really interested in symlink support too! Any ETA on when can we expect it?

[2021-03-31 21:48] DominikLevitsky commented on #51
+1

[2021-04-01 15:11] thecodrr commented on #53
@DominikLevitsky I can't give an ETA but it is in the works. The main issue is implementing it safely and in a performant way. I will be posting updates here so hang on tight, it will be out in the next version for sure.

[2021-04-01 15:12] thecodrr commented on #51
I will look into this for sure.

[2021-04-16 17:54] peterbe commented on #53
Would it still "affect performance greatly" if the root directory is a symlink? ...as opposed to starting a real directory but possible symlinks within.

[2021-04-16 18:01] peterbe opened #56 "Errors thrown inside .filter() are swallowed"
Sample code to reproduce:

[code]

You can run this over and over and it will just console log out a different number each time.

Suppose it wasn't `if (Math.random() > 0.5) {` but something like `return doubleCheck(fiePath)` you wouldn't get any feedback about the accidental typo of `fiePath`.

[2021-04-16 18:05] peterbe commented on #56
A nasty workaround would be:
[code]

[2021-04-16 19:42] peterbe opened #57 "A big THANK YOU is in order"
Cheekily, just wanted to abuse an issue for a good cause.

[MDN Web Docs](https://developer.mozilla.org) (now) uses `fdir` and it's looking extremely promising.
We used to use `glob.sync()` and a whole mixed bag of other `path.join()` and tricky stuff.
Today I was able to replace all of it with `fdir` and I did it in such a way that I kept the old function so I could compare.

All the numbers are

[2021-04-16 19:42] #57 closed

[2021-04-16 19:56] thecodrr commented on #53
@peterbe no, the performance penalty is only for symlink resolution. Afterwards, fdir will operate normally. I have a basic PoC ready which i'll be pushing for testing soon.

[2021-04-16 20:00] thecodrr commented on #56
I am taking a look into this right now.

[2021-04-16 20:05] thecodrr commented on #57
:exploding_head: I was **not** expecting this!

I am absolutely flabbergasted that `yari` is now using `fdir`. I checked the numbers and wow! I mean I have benchmarked myself but seeing independent numbers...is something else.

I am glad you found `fdir` :laughing:

[2021-04-16 20:14] thecodrr commented on #56
@peterbe have you tried this with `.withErrors`? `fdir` by default ignores all errors thrown during crawling. You can turn on errors with `.withErrors` to have them passed on to the caller. This will require you to handle (or ignore) IO errors as well.

[2021-04-18 10:26] thecodrr commented on #53
Symlinks support is almost done. Just have to benchmark the performance impact when `withSymlinks` is not there.

[2021-04-18 17:54] #53 closed

[2021-04-19 13:35] peterbe commented on #56
I failed to notice that was an option.
Perhaps it's too late now, but I wish it'd be the other way around. I.e. errors raised by default with an option to `.suppressErrors()`. If an expert user is perfectly aware of the options it doesn't matter, but newbies might miss it and then accidentally get super frustrated in debugging and doing their own try/catch to log the possible errors.

[2021-04-19 15:13] peterbe commented on #56
Perhaps remove the `bug` label and add a "annoying refactor request" :)

[2021-04-20 03:26] thecodrr commented on #56
That is actually how it was in previous versions. My reasoning for going the opposite way was that most of the times IO errors are pretty useless (like file not found etc.) during crawling. The downside of current approach is that it captures and ignores all errors including syntax errors (like you reported). Maybe it should only handle IO errors thrown by the fs module and rethrow all other excep

[2021-04-20 17:14] aaronjensen commented on #53
Thanks!

[2021-05-17 13:48] yuanzhian opened #61 "Can it return the size of each file"
Can it return the size of each file

[2021-08-03 06:14] zhangdaren opened #65 "File has no extension, can not found"
like glob, can not found.

[2021-08-03 08:57] thecodrr commented on #65
Hey, please add some code and tell me what's the issue. I can't fix anything with 5 words as information.

[2021-10-03 13:29] broofa commented on #65
Pro-tip: Issues like this... just add the "more info needed" label and close immediately.

If/when OP follows up (which doesn't happen more often than not) you can decide whether to reopen.

[2021-10-03 15:08] #65 closed

[2021-10-03 15:08] thecodrr commented on #65
@broofa good idea.

[2021-10-15 20:14] vjpr opened #66 "Compare to native options"
I am interested in how much faster it could be using native code. Via `child_process` or N-API.

Someone [already mentioned](https://github.com/thecodrr/fdir/issues/11) Rust's https://github.com/jessegrosjean/jwalk. Some other Rust discussion [here](https://users.rust-lang.org/t/whats-the-fastest-way-to-read-a-lot-of-files/39743/6). Would be cool to have a `napi-rs` wrapper on it and see the speed

[2021-10-16 03:32] thecodrr commented on #61
Returning the size or other information would slow down `fdir` by a lot. I am sure this can be added as an extension.

[2021-10-16 03:32] #61 closed

[2021-10-17 09:17] #56 closed

[2021-10-17 10:22] #51 closed

[2021-10-20 02:11] vjpr commented on #66
Did some testing of my own.

MacBook Pro 16 - 2.4 GHz 8-Core Intel Core i9

[code]

[2021-10-20 05:04] thecodrr commented on #66
@vjpr Can you share your benchmark code? I'd like to take a look and see what is causing that huge bottleneck.

[2021-10-20 14:10] vjpr commented on #66
@thecodrr What repo were you using to test?

[2021-10-20 14:19] thecodrr commented on #66
I didn't use any repo. I ran it in my root. Yes, that is 1.6 million files & 300k directories — bigger than 99% of the repositories which means more pattern failures. If you run it inside `fdir` repo, it completes in under 12-13 ms.

Which repo did you test on?

[2021-10-20 22:10] vjpr commented on #66
[`fs.readdir`](https://github.com/nodejs/node/blob/master/src/node_dir.cc#L265) is the most direct mapping to the underlying syscall [readdir(3)](https://man7.org/linux/man-pages/man3/readdir.3.html), so this will always be a limit in a Node env.

The only potential alternative would be [WASI](https://nodejs.org/api/wasi.html), but the Node.js implementation just uses `libuv` under the hood anyway

[2021-10-20 23:49] vjpr opened #67 "Export type `Options` from `crawlWithOptions(dir, Options)`"
I like to use options like:

[code]

[code]

Also, thoughts on runtime validation for this? With `zod` or something.

[2021-10-21 00:27] vjpr opened #68 "Make a note about the `sync` api being much slower"
I think a lot of my early testing of this package was using `sync` api which made me think it was not that fast.

It's common for a Node dev to reach for sync apis for file access in cli tools...as you wouldn't normally think async would give speed gains, unless you are running in a webserver where you don't want to block the event loop.

But for `fdir` it offers huge benefits in speed when the th

[2021-10-22 03:26] vjpr commented on #40
I'm interested to test out any developments of this.

A use case might be searching with early-exit. Say I have a monorepo of `package.json` files and I'm looking for one by `name`. I want to glob, and then read each pjson as soon as they arrive.

I don't think back-pressure is a concern with globbing - most glob operation results can easily fit in memory because its just a bunch of file paths. 1M

[2021-10-22 14:28] vjpr opened #69 "Remove callback API in next major"
Code could be simplified by removing the callback API. There are native promise apis for most functions now.

Not sure how performance is effected though - this would be the primary concern.

[code]

Would pave the way for supporting modern API interfaces such as Node Streams, Web Streams, AsyncInterators. AbortController could also be used for early-exit scenarios.

[2021-10-23 13:32] #69 closed, assigned to nobody

[2021-10-23 17:53] thecodrr opened #70 "v7.0 Plan"
`fdir` has reached maximum performance. I am not saying that to discourage others from trying to make a faster directory crawler. Not at all. But I have stripped `fdir` down to its bones and haven't noticed any significant increase in speed. The only space left for improvement is directly in NodeJS internals. So where does that leave us?

I had initially planned to freeze the API of `fdir` but _`f

[2021-11-12 15:42] LucianBuzzo opened #71 "Need to list path to symlink instead of resolved path"
I have a need to list the path to a symlink itself rather than the resolved path of the symlink.
Currently symlinks are ignored unless `withSymLinks()` is used, however if you use `withSymLinks()`, then the resolved path of the symlink is returned instead.
From what I can see it may be possible to list the symlink path in `Walker`, perhaps with a new option/chain.

[2021-12-15 15:50] aikar opened #72 "Limit files option"
Hello, can you please provide an option for a max file limit that once X files have been found, stop further scanning operations?

I understand an operation may be in progress that returns file lists greater than the limit, so if it can just discard the excess.

Use case is scanning directories with large number of files but you only want to pull a few of them out at a time, for example a "drop/pi

[2022-01-01 19:12] mindplay-dk commented on #40
An async iterator is probably "bad" for CPU performance - but good for memory usage. This might matter if you're scanning millions of files, although most systems have memory in abundance these days.

Presumably, the goal with this feature is to have scripts provide feedback as quickly as possible, as well as maybe saving some memory.

What if we were to collect some number of results before feedi

[2022-01-14 00:39] glenn2223 opened #73 "Need help debugging an issue?? with fdir"
I've had an issue opened over on a repo - glenn2223/vscode-live-sass-compiler#145

I can't for the life of me figure out why fdir has returned a file count of 0 when the filters applied all return true for one file

They have an SSH connection in VS Code but I don't see why that would be a problem

----

I have copied out a section of code that produces the below output (copied from [this comment]

[2022-01-18 05:43] thecodrr commented on #73
I am taking a look at this. Hold on.

[2022-01-18 06:20] #68 closed

[2022-01-18 06:20] thecodrr commented on #67
Fixed in v5.2.0

[2022-01-18 06:20] #67 closed

[2022-01-18 06:22] thecodrr commented on #73
@glenn2223 can you try this again with v5.2.0?

[2022-01-18 22:53] glenn2223 commented on #73
Thanks for working on this and turning it around so quickly!

I have asked the individual to test this release and get back to me

Report back soon with good news I hope 🤞

[2022-01-20 19:44] glenn2223 commented on #73
They have confirmed that it's fixed in v5.2

[2022-01-20 19:44] #73 closed

[2022-02-14 09:45] AlynxZhou commented on #71
I have this issue, too.

[2022-03-15 18:24] TwitchBronBron opened #74 "What's the correct way to use globbing?"
What is the correct way to utilize the globbing functionality in fdir? When I run the following test, it does not properly filter the results.

[code]
The glob seems to have no effect, and I'm instead given all of the files in the directory.
![image](https://user-images.githubusercontent.com/2544493/158445654-57168a9e-932c-42de-80fc-d541b7d58cda.png)

Am I using it wrong? I've installed picomatch,

[2022-04-27 15:34] p-mcgowan opened #75 "Crawl with options group interface no longer correct in v5.2.0 (v5.1.0 was the same)"
`crawlWithOptions` API in combination with `withPromise` no longer outputs a `GroupOutput` as per the typings.

The test script:
[code]

[code]

[code]

[code]

[code]

Unless I'm missing something very obvious (entirely possible), I have to lock at 5.1.0 and miss out on performance boosts or change my api to call Object.entries, which I assume is much slower than the original version.

[2022-09-14 19:14] peterbe commented on #71
I'm struggling with this too. @thecodrr Do you know of a solution to bypass this for now?

[2022-09-29 15:41] IanVS commented on #25
tiny-glob could be an interesting benchmarking target.

[2022-09-29 16:00] IanVS opened #78 "Ideas for mocking"
Hi, I'm attempting to convert from globby to fdir, and I'm curious if you have any ideas for a good way to mock fdir returns.  Previously, we had:

[code]

But, since fdir uses a fluent api, I can't just mock `fdir.sync`.  Is this something you've run into before?  And if so, how did you handle it?

[2022-09-29 16:43] IanVS commented on #78
I think I figured out something that works:

[code]

Happy to hear any other suggestions, but this seems to get me what I want.

[2022-09-29 17:50] #78 closed

[2022-09-29 18:26] IanVS commented on #25
Ah, I see it was added to the benchmark code, but the readme wasn't updated.  I ran them locally on my intel mbp, and got:

[code]

[2022-10-04 07:22] thecodrr commented on #75
This will be fixed in the upcoming v6.0 which has been fully rewritten in Typescript.

[2022-10-18 03:03] IanVS commented on #23
@thecodrr could you explain how `glob` and `crawl` interact?  I'm having a spot of trouble for example I have a file like this:

[code]

And this command is not finding it:

[code]

And this doesn't work either:

[code]

I think I must be missing something...

[2022-10-18 03:32] thecodrr commented on #23
@IanVS

`glob` allows you to specify the _pattern_ that'll be used for finding the files. `crawl` allows you to specify the root directory from where the crawling will start. The crawler pattern matches all the files it finds and returns only those that match the pattern.

I tested the code samples you gave and it is working without an issue. I created the same directory structure using:

[code]

[2022-10-18 03:45] IanVS commented on #23
Interesting.  The only other wrinkle might be the handling of symlinks, then.  Are globs resolved based on actual path, or the symlink path?  In my case, `react-vite-default-js/template-stories/addons/docs` is a symlink to `/Users/ianvs/code/storybook/storybook/code/addons/docs/template/stories`

[2022-10-18 03:48] IanVS commented on #23
FWIW, I'm seeing this behavior in https://github.com/storybookjs/storybook/pull/19297.  It's easy to reproduce if you'd like to clone and checkout the branch, then try running `yarn task --task build --template react-vite/default-js --start-from install` (after you run it once, if you want to run it again, you can use `yarn task --task build --template react-vite/default-js --start-from build`)

[2022-10-18 04:44] thecodrr commented on #23
Indeed. Testing again with the following directory structure:

[code]

The first sample returns nothing which is actually correct since pattern is matched against the resolved file path, not the symlink path. Changing the glob pattern to `/home/thecodrr/Sources/Repos/fdir/code/addons/docs/**/*.stories.@(js|jsx|ts|tsx|mdx)` makes it work again.

The second sample works without an issue though since

[2022-10-18 04:47] thecodrr commented on #23
Perhaps I can adding something like `withRealPaths` to use real paths for resolved symlinks but use symlink paths by default. Or we can think of another solution for this.

[2022-10-18 11:27] IanVS opened #83 "[Feature] glob/crawl by symlink path, not real path"
As noted in https://github.com/thecodrr/fdir/issues/23#issuecomment-1281810844, currently globs match against resolved symlink paths, not the symlink paths themselves.  This is a bit counter-intuitive, and I think that the symlink paths should be matched and returned instead, perhaps with an option to return real paths instead.

[2022-10-18 13:15] thecodrr commented on #83
WIP at #84

[2022-10-18 13:24] #83 closed

[2022-10-18 14:18] IanVS commented on #83
Yep, I copied over the `src` from master and it's now working correctly!  Thanks!

[2022-10-18 14:50] thecodrr commented on #83
Will release v5.3.0 then

[2022-10-18 17:44] thecodrr commented on #83
@IanVS done. I changed the API a bit to be backwards compatible with v5 [so check the docs](https://github.com/thecodrr/fdir/blob/master/documentation.md#withsymlinksboolean) to see how you can use it.

[2022-10-18 17:52] IanVS commented on #83
Thanks.  One small piece of unsolicited feedback, is that this might fall into the [boolean trap](https://www.30secondsofcode.org/articles/s/javascript-boolean-trap).  When reading `.withSymlinks(false)` it could reasonably be thought that symlinks are disabled.  An API like `.withSymlinks({ resolve: boolean })` gives a bit more clarity, IMHO.  But, that's just my own two cents.  Thanks again for

[2022-10-18 17:56] thecodrr commented on #83
I agree. I'll be making some breaking changes in v6.0 so this API is definitely not final. There's a lot of confusion in the current exposed methods so I will do some much needed renaming as well.